body {
    background-color:  #eff0f2;
}
.cabecera {
    height: 120px;
    background-color: #082d76;
    text-align: center;
    padding: 20px 10px 10px 10px;
}
.cabecera img {
    width: 10%;
    float: left;
}
.titulo {
    font-size: 2.2em;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
    float: right;   
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
}
nav ul li a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding-right: 10px;
    font-size: 1em;
}

nav ul li a:hover{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    padding-right: 10px;
    font-size: 1.2em;
}
.izquierda {
    float: left;
    width: 30%;
}
.derecha {
    float: right;
    width: 70%;
}
.bloques{
    clear: both;
}
.bloque {
    width: 25%;
    float: left;
}
.bloques2{
    clear: both;
    width: auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row-reverse;
}
footer {
    text-align: center;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}